# Klasik derleme çıktıları
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.out
*.dSYM/
.DS_Store

# İçinde executables (çalıştırılabilir binary) barındıran tüm bin klasörleri
**/bin/

# Belirli uzantısız derleme çıktıları ve exe'ler
*.exe
snake_mac
filesystem
VOD_main
main
main2
main3
main4
main5
main6
main7
snake
snake_game
custom_allocator
hello

# Büyük veri dosyalarını (WAD gibi) dilersen hariç tutabilirsin
# *.WAD