# Derleme ve Geçici Sistem Çıktıları
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.out
*.dSYM/
.DS_Store

# Mac'in ürettiği özel gizli dosyalar
._*
# Gelecekte .gitignore dosyanın altına eklenebilecek çalıştırılabilir dosya filtreleri
**/bin/
*.exe
snake_mac
filesystem
main